<div class="devise_container">
<h4>Welcome <%= current_teacher.firstname.capitalize if current_teacher.firstname %>!</h4>

    <% if current_teacher.teacher_courses.present? %>

      <h5 class="green-text">Viewing your course listing and the number of students enrolled in each:</h5>
      <table>
        <tbody>
          <tr>
          <td width="100"><h5>Course ID</h5></td>
          <td width="150"><h5>Course Name</h5></td>
          <td width="200"><h5>Number of Students Enrolled</h5></td>
          <td width="300"><h5>Teacher Actions for Course</h5></td>
          </tr>
          <% current_teacher.teacher_courses.each do |teacher_course| %>
          <tr>
          <td width="100"><h6> <%= "#{teacher_course.course_id}"%></h6></td>
          <td width="150"><h6> <%= "#{get_course_name(teacher_course.course_id)}"%></h6></td>
          <td width="200"><h6> <%= "#{getCount(teacher_course.course_id)}" %></h6></td>
          <td width="300"><h6>
            <%= link_to "View Students", teacher_course_path(teacher_course.course_id) %> |
            <%= link_to "View Assignments", course_course_details_path(teacher_course.course_id) %>
          </h6></td>
          </tr>

          <% end %>
        </tbody>
        </table>

     <% else %>
     <h5>You currently do not have any Courses. Please contact Administrator.</h5>
    <% end %>
<br>
<br>
<% if current_teacher.course_details.at_risk_students.count > 0 %>
    <h5 class="red-text">Important Information - [Scope] At Risk Students: </h5>
    <h6>Number of Students with Assignment Grades less than 75:   <%= "#{current_teacher.course_details.at_risk_students.count}" %> </h6>
    <table>
      <tbody>
        <tr>
          <td width="200"><h5>Student Name</h5></td>
          <td width="200"><h5>Assignment Name</h5></td>
          <td width="200"><h5>Assignment Grade</h5></td>
        </tr>
        <% current_teacher.course_details.at_risk_students.each do |risky_student| %>
          <tr>
          <td width="200"><h6><%= "#{get_student_name(risky_student.student_id)}" %></h6></td>
          <td width="200"><h6><%= "#{risky_student.assignment_grade}"%></h6></td>
          <td width="200"><h6><%= "#{risky_student.assignment_name}"%></h6></td>
          <% end %>
        </tbody>
        </table>
<% end %>
</div>
