<div class="devise_container">
<h4>Welcome <%= current_teacher.firstname.capitalize if current_teacher.firstname %>!</h4>

    <% if current_teacher.teacher_courses.present? %>

      <h5 class="green-text">Viewing student roster informaton for your <%="#{Course.find(params[:id]).course_name}"%> class:</h5>
      <table>
        <tbody>
          <tr>
          <td width="150"><h5>Student ID</h5></td>
          <td width="150"><h5>Student Name</h5></td>
          <td width="150"><h5>Student Average</h5></td>
          <td width="250"><h5>Teacher Actions for Students</h5></td>
          </tr>
          <tr>
          <% current_teacher.course_details.select(:student_id).distinct.where(course_id: "#{params[:id]}").each  do |course_detail| %>
          <tr>
          <td width="150"><h6> <%= "#{course_detail.student_id}" %></h6></td>
          <td width="150"><h6> <%= "#{Student.find(course_detail.student_id).lastname.capitalize}"%>,
            <%= "#{Student.find(course_detail.student_id).firstname.capitalize}"%> </h6></td>
          <td width="150"><h6><%= "#{CourseDetail.where(course_id: params[:id], student_id: course_detail.student_id).average(:assignment_grade)}" %></h6></td>
          <td width="150"><h6> <%= link_to "View Student Details", student_path(course_detail.student_id) %>
          </h6></td>
          </tr>
          <% end %>
        </tbody>
        </table>

     <% else %>
     <h5>You currently do not have any Courses.</h5>
    <% end %>
<h5><a href="/teacher_courses"><button class="btn btn-primary">GO BACK</button></a></h5>
</div>
