<div class="devise_container">
<h4>Welcome <%= current_teacher.firstname.capitalize if current_teacher.firstname %>!</h4>

    <% if current_teacher.teacher_courses.present? %>

      <h5 class="green-text">Viewing informaton for your <%="#{Course.find(params[:id]).course_name}"%> class:</h5>
      <table>
        <tbody>
          <tr>
          <td width="150"><h5>Student ID</h5></td>
          <td width="150"><h5>Student Name</h5></td>
          <td width="150"><h5>Student Average</h5></td>
          <td width="250"><h5>Teacher Actions</h5></td>
          </tr>
          <tr>
          <% current_teacher.assignments.where(course_id: "#{params[:id]}").each  do |assignment| %>
          <tr>
          <td width="150"><h6> <%= "#{assignment.student_id}" %></h6></td>
          <td width="150"><h6> Get Student Name </h6></td>
            <td width="150"><h6><%= "#{Assignment.where(course_id: params[:id], student_id: assignment.student_id).average(:assignment_grade)}" %></h6></td>
          <td width="150"><h6> <%= link_to "View Assignments", course_assignments_path(assignment.student_id) %> |
            <%= link_to "Edit Student", edit_student_course_path(assignment.student_id) %> |
            <%= link_to "Delete Student", student_course_path(assignment.student_id) %>
          </h6></td>
          </tr>
          <% end %>
        </tbody>
        </table>

     <% else %>
     <h5>You currently do not have any Courses.</h5>
    <% end %>

</div>
