<%= form_for course_course_detail_path do |f| %>

  <div class="field">
    <%= f.label :assgnment_name %><br>
    <%= f.text_field :assgnment_name %>
  </div>
  <div class="field">
    <%= f.label :assgnment_grade %><br>
    <%= f.text_field :assgnment_grade %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
