<div class="devise_container">

<!-- STUDENT ASSIGNMENT LOGIC -->
  <% if current_student %>
    <h4>Welcome <%= current_student.firstname.capitalize if current_student.firstname %>!</h4>
    <% if current_student.course_details.present? %>
      <h5 class="green-text">Here are the course details and grades for your <%= "#{get_course_name(params[:course_id])}" %> course:</h5>
      <table>
        <tbody>
          <tr>
          <td width="150"><h5>Assignment Name</h5></td>
          <td width="150"><h5>Assignment Grade</h5></td>
          </tr>
          <tr>
          <% current_student.course_details.where(course_id: "#{params[:course_id]}").each  do |course_detail| %>
          <td width="150"><h6> <%= "#{course_detail.assignment_name}" %></h6></td>
          <td width="150"><h6> <%= "#{course_detail.assignment_grade}" %></h6></td>
         </tr>

          <% end %>
        </tbody>
        </table>
     <% else %>
     <h5>You currently do not have any Course Details.</h5>
    <% end %>
<h5><a href="/student_courses"><button class="btn btn-primary">GO BACK</button></a></h5>
<!-- TEACHER ASSIGNMENT LOGIC -->
  <% else %>

  <h4>Welcome <%= current_teacher.firstname.capitalize if current_teacher.firstname %>!</h4>

  <% if current_teacher.course_details.present? %>
    <h5 class="green-text">Viewing the assignment details for your <%= "#{get_course_name(params[:course_id])}"%> course:</h5>
    <table>
      <tbody>
        <tr>
        <td width="150"><h5>Assignment Name</h5></td>
        <td width="150"><h5>Student Name</h5></td>
        <td width="150"><h5>Student Grade</h5></td>
        <td width="150"><h5>Teacher Action for Assignments</h5></td>
        </tr>
        <tr>
        <% current_teacher.course_details.where(course_id: "#{params[:course_id]}").each  do |course_detail| %>
        <td width="150"><h6> <%= "#{course_detail.assignment_name}" %></h6></td>
        <td width="150"><h6> <%= "#{get_student_name(course_detail.student_id)}" %> </h6></td>
        <td width="150"><h6> <%= "#{course_detail.assignment_grade}" %></h6></td>
        <td width="150"><h6>
          <%= link_to "Edit", edit_course_course_detail_path("#{params[:course_id]}",course_detail) %> |
          <%= link_to "Delete", course_course_detail_path(current_teacher, course_detail), method: :delete, data: {confirm: "Are you sure you want to delete?"} %><br><br>

        </h6></td>
       </tr>
         <% end %>
      </tbody>
      </table>
   <% else %>
   <h5>Student currently does not have any Course Detais.</h5>
  <% end %>

<h5> <%= link_to "Add New #{get_course_name(params[:course_id])} Assignment", new_course_course_detail_path("#{params[:course_id]}") %> </h5>
<h5><a href="/teacher_courses"><button class="btn btn-primary">GO BACK</button></a></h5>
<% end %>

</div>
